<%= render partial: "shared/message" %>

<div class="container">
  <div class="row"  style="margin-top:40px">
    
    
    <div class="col s12 m6">
        <div class="card green">
          <div class="card-content" style="color:white">
            <p style="font-size:20px">LIGHT BULB 決起会</p>
            <hr>
            <p>新しいメンバーを迎え活動を本格化するLIGHT BULBは、団体およびメンバー個々人が相乗効果的に成長するため年間行動計画の作成を行います。
            </p><br>
            <p>当団体に関心のある外語生は是非ご参加ください。</p>
            <p>参加希望の方はTwitterのDMで、事前にお知らせください。</p>
            <br>
            <p style="color:yellow; opacity:0.9">日時：7月12日(木) 12:30~16:00</p>
            <p style="color:yellow; opacity:0.9">場所：アゴラグローバル</p>
          </div>        
        </div>
    </div>
    

    
    

    <div class="col s12 m6">
    <%= form_for(@event) do |f| %>    
      <div class="center"><h5 style="font-size:17px">イベントに参加する</h5></div>
      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
         <%= f.text_field :name, placeholder: "お名前" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <%= f.text_field :email, placeholder: "Eメール (必須ではありません)" %>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <%= f.text_field :grade, placeholder: "学年" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <%= f.text_field :language, placeholder: "専攻語" %>
        </div>
      </div>
        <button class="btn waves-effect waves-light #00695c teal darken-3" type="submit" name="action" style="margin-bottom: 10px; margin-left:60px">予約する</button>
      <% end %>
    </div>

</div>
         
</div>